rules_version = '2';

function validateFileUpload(uid) {
  return request.auth != null
    && request.auth.uid == uid
    && request.auth.token.googler
    && request.resource.size < 25 * 1024 * 1024
    && request.resource.contentType.matches('image/.*') == false
    && request.resource.contentType.matches('video/.*') == false;
}

function validateImageUpload(uid) {
  return request.auth != null
    && request.auth.uid == uid
    && request.auth.token.googler
    && request.resource.size < 5 * 1024 * 1024
    && request.resource.contentType.matches('image/.*');
}

function validateVideoUpload(uid) {
  return request.auth != null
    && request.auth.uid == uid
    && request.auth.token.googler
    && request.resource.size < 25 * 1024 * 1024
    && request.resource.contentType.matches('video/.*');
}

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
    match /file/{uid}/{filename} {
      allow create: if validateFileUpload(uid);
    }
    match /image/{uid}/{filename} {
      allow create: if validateImageUpload(uid);
    }
    match /video/{uid}/{filename} {
      allow create: if validateVideoUpload(uid);
    }
  }
}